:root {
  --color-accent: #007bff;
  --color-background: #f0f0f0;
  --color-text: #333333;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: "Roboto", sans-serif;
  height: 100%;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

body {
  background-color: var(--color-background);
  width: 100%;
  height: 100%;
}

header {
  display: block;
  text-align: center;
  margin: 2rem 0;
}

header h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

header p {
  font-size: 1rem;
  padding: 0 1rem;
}

main {
  max-width: 1920px;
  padding: 2rem;
}

#topic-container {
  display: block;
  margin: 0 auto;
  font-size: 6rem;
  font-weight: 500;
  text-align: center;
  color: var(--color-text);
  background-color: red;
  height: 50vh;
}

@media screen (min-width: 443px) {
  #topic-container p {
    font-size: 3rem;
  }
}

#next-button {
  background-color: var(--color-accent);
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  display: block;
  margin: 0 auto;
  margin-bottom: 3rem;
  padding: 1rem 2rem;
  transition: background-color 0.3s ease-in-out;
  width: 300px;
  position: fixed;
  bottom: 2rem;
  left: 50%;
  transform: translateX(-50%);
}

#next-button:hover {
  background-color: var(--color-accent);
}
